 /* The animation code */
@keyframes animatedSquare {
  0%   {background-color: #E9967A;
  transform: translateY(50px)}
  25%  {background-color: #F08080;}
  50%  {background-color: #FFB6C1;
  border-radius: 50%;}
  100% {background-color: #DB7093;
  transform: rotate(90deg);}
}

/* The element to apply the animation to */
div {
  width: 10px;
  height: 10px;
  background-color: red;
  animation-name: animatedSquare;
  animation-duration: 2s;
  animation-iteration-count: infinite;   
  animation-timing-function: ease-in; 
  filter: drop-shadow(16px 16px 10px black);
  animation-direction: alternate;
  border-color: black;
  align-content: center;


} 