/* The animation code*/
@keyframes animatedSquare {
    0% { background-color: darkcyan;
        transform: translateY(400px);}
    25% {background-color: aqua;
    border-radius: 60%;}
    50% {background-color: teal;}
    100% {background-color: darkblue;
        transform: rotate(90deg);}
    
}

/* The element to apply the animation to */
div{
    width: 100px;
    height: 100px;
    background-color: coral;
    animation-name: animatedSquare;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    filter: drop-shadow(16px 16px 10px black)
}

body{
    background-color: blueviolet;
    align-content: center;
}

header{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    align-content: center;
}